@external .label-field, .label, .required, .empty, .buttons, .cancel;

input[type=text],
input[type=password],
textarea {
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    padding: 4px;
}

input[type=text],
input[type=password],
textarea, 
select {
	border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: gray;
    font-size: 13px;
}

.label-field {
	margin-bottom: 5px;
}

.label-field input[type=text],
.label-field input[type=password],
.label-field textarea {
	width: 230px;
}

.label-field textarea {
	height: 100px;
}

.label-field div {
	display: inline-block;
}

.label-field .label,
.label-field label {
    padding-top: 6px;
	text-align: right;
	vertical-align: top;
    color: #404040;
}

.label-field.required .label,
.label-field.required label {
	font-weight: bold;
}

.label-field .empty {
	color: #999;
	font-style: italic;
}

.buttons {
    background-color: whiteSmoke;
    padding: 14px 15px 15px;
    border-top: 1px solid #DDD;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    zoom: 1;
    margin-bottom: 0;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.buttons .cancel {
    float: right;
    margin-right: 40px;
}