@CHARSET "UTF-8"; 
@def selectionBorderWidth 0px; 
.cellTableWidget {
	width: 100%;
	margin-bottom: 18px;
	padding: 0;
	border-collapse: separate;
	font-size: 13px;
	border-spacing: 0;
} 
.cellTableLoading {
	display: block;
	margin: 0 auto;
	top: 50%;
}

.cellTableLastColumn { 
} 

.cellTableFooter { 
} 

.cellTableHeader {
	padding: 10px 10px 9px;
  	padding-top: 9px;
	font-weight: bold;
	vertical-align: middle;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	text-align: left;
	line-height: 18px;
	color: #404040;
	font-size: 13px;
} 

.cellTableCell { 
	padding: 6px 6px 6px 6px;
	vertical-align: top;
	padding: 10px 10px 9px;
	text-align: left;
	border-collapse: separate;
	border-spacing: 0;
	border-left: 1px solid #DDDDDD;
}

.cellTableFirstColumn {
	border: none;
}

.cellTableFirstColumnFooter { 
} 

.cellTableFirstColumnHeader {
	border-left: none;
} 

.cellTableLastColumnFooter { 
} 

.cellTableLastColumnHeader { 
}
.cellTableSortableHeader {
	cursor: pointer;
}
.cellTableSortedHeaderDescending {
	cursor: pointer;
}

.cellTableSortedHeaderAscending {
	cursor: pointer;
}

.cellTableEvenRow { 
  background: white; 
} 

.cellTableEvenRowCell { 
} 

.cellTableOddRow { 
  background: #F9F9F9; 
} 

.cellTableOddRowCell { 
} 

.cellTableHoveredRow { 
} 

.cellTableHoveredRowCell { 
} 

.cellTableKeyboardSelectedRow {
	color: black;
} 

/** 
 * The keyboard selected cell is visible over selection. 
 */ 
.cellTableKeyboardSelectedCell {
	border-color: none;
}

.cellTableKeyboardSelectedRowCell { 
} 

.cellTableSelectedRow { 
  color: white; 
  height: auto; 
  overflow: auto;
} 

.cellTableSelectedRowCell { 
}