@CHARSET "UTF-8"; 
@def selectionBorderWidth 0px; 
.cellTableWidget { 
} 
.cellTableLoading{
	display: block;
	margin: 0 auto;
	top: 50%;
}
.cellTableFirstColumn { 
} 

.cellTableLastColumn { 
} 

.cellTableFooter { 
} 

.cellTableHeader { 
  border-bottom: 1px solid #666666;
  padding: 3px 6px 3px 6px; 
  text-align: left; 
  font-size:14px; 
  color: #0099FF;
  font-weight: normal;
  white-space: nowrap;
} 

.cellTableCell { 
  padding: 6px 6px 6px 6px; 
} 

.cellTableFirstColumnFooter { 
} 

.cellTableFirstColumnHeader { 
} 

.cellTableLastColumnFooter { 
} 

.cellTableLastColumnHeader { 
}
.cellTableSortableHeader {
	cursor: pointer;
}
.cellTableSortedHeaderDescending {
	cursor: pointer;
}

.cellTableSortedHeaderAscending {
	cursor: pointer;
}

.cellTableEvenRow { 
  background: white; 
} 

.cellTableEvenRowCell { 
  border: selectionBorderWidth solid white; 
} 

.cellTableOddRow { 
  background: #EEE; 
} 

.cellTableOddRowCell { 
  border: selectionBorderWidth solid #EFEFEF; 
} 

.cellTableHoveredRow { 
} 

.cellTableHoveredRowCell { 
} 

.cellTableKeyboardSelectedRow {
	background-color: #0099FF;
	color: black;
} 

.cellTableKeyboardSelectedRowCell { 
} 

.cellTableSelectedRow { 
  background: #0099FF; 
  color: white; 
  height: auto; 
  overflow: auto; 
} 

.cellTableSelectedRowCell { 
  border: selectionBorderWidth solid #0099FF; 
} 

/** 
 * The keyboard selected cell is visible over selection. 
 */ 
.cellTableKeyboardSelectedCell { 
  border: selectionBorderWidth solid #d7dde8; 
}