@CHARSET "UTF-8"; 
@def selectionBorderWidth 0px; 
.cellTableWidget { 
} 

.cellTableFirstColumn { 
} 

.cellTableLastColumn { 
} 

.cellTableFooter { 
  border-top: 2px solid #6f7277; 
  padding: 3px 15px; 
  text-align: left; 
  color: #4b4a4a; 
} 

.cellTableHeader { 
  border-bottom: 1px solid #6f7277; 
  padding: 3px 6px 3px 6px; 
  text-align: left; 
  font-size:14px; 
  color: #4b4a4a;
} 

.cellTableCell { 
  padding: 6px 6px 6px 6px; 
} 

.cellTableFirstColumnFooter { 
} 

.cellTableFirstColumnHeader { 
} 

.cellTableLastColumnFooter { 
} 

.cellTableLastColumnHeader { 
}
.cellTableSortableHeader {

}
.cellTableSortedHeaderDescending {
	cursor: pointer;
}

.cellTableSortedHeaderAscending {
	cursor: pointer;
}

.cellTableEvenRow { 
  background: #ffffff; 
} 

.cellTableEvenRowCell { 
  border: selectionBorderWidth solid #ffffff; 
} 

.cellTableOddRow { 
  background:#f3f7fb; 
} 

.cellTableOddRowCell { 
  border: selectionBorderWidth solid #f3f7fb; 
} 

.cellTableHoveredRow { 
  background: #AFDE41; 
} 

.cellTableHoveredRowCell { 
  border: selectionBorderWidth solid #eee; 
} 

.cellTableKeyboardSelectedRow { 
  /*background: #ffc;*/ 
} 

.cellTableKeyboardSelectedRowCell { 
  border: selectionBorderWidth solid #ffc; 
} 

.cellTableSelectedRow { 
  background: #628cd5; 
  color: white; 
  height: auto; 
  overflow: auto; 
} 

.cellTableSelectedRowCell { 
  border: selectionBorderWidth solid #628cd5; 
} 

/** 
 * The keyboard selected cell is visible over selection. 
 */ 
.cellTableKeyboardSelectedCell { 
  border: selectionBorderWidth solid #d7dde8; 
} 

@sprite .cellTableLoading { 
  gwt-image: 'cellTableLoading'; 
  margin: 30px; 
}