@external .gwt-PushButton;
.gwt-PushButton {
	display: inline-block;
	font-size: 11px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    display: inline-block;
    -moz-user-select: -moz-none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
   	user-select: none;
}
.button{}