@external .ui-dialog, .ui-dialog-titlebar, .ui-widget-content, .ui-dialog-content, .ui-corner-all;

.ui-dialog {
    padding: 0px;
    background: none;
    background-color: #E3E3E3;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    font-size: 11px;
    border: 1px solid #A9A9A9;
    
}
.ui-corner-all {
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
@sprite .ui-dialog-titlebar {
    gwt-image: "titleBackground";
    background-repeat: repeat-x;
    background-position: top;
    background-color: #E3E3E3;
    height: 18px;
    width: auto;
    color: #4B4B4B;
    border: none;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ui-widget-content {
    border: none;
}
.ui-dialog-content {
    background-color: #E5E4E5 !important;
    margin: 3px;
    border: 1px solid #CAC9CA !important;
    padding: 4px !important;
    font-family: inherit;
    font-size: inherit;
}