@external .ui-dialog, .ui-dialog-titlebar, .ui-widget-content, .ui-dialog-content, .ui-corner-all, .ui-dialog-titlebar-close;

.ui-dialog {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
}
.ui-dialog-titlebar {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
    border: none;
    border-bottom: 1px solid #EEEEEE;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ui-dialog-titlebar-close {
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}
.ui-dialog-titlebar-close:hover {
    filter: alpha(opacity=20);
    -khtml-opacity: 0.2;
    -moz-opacity: 0.2;
    opacity: 0.2;
}
.ui-widget-content {
    border: none;
}
.ui-dialog .ui-dialog-content {
   padding: 0;
}