@sprite .button div {
	gwt-image: "icon";
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
	height: auto;
	width: auto;
	padding-top: 2px;
	padding-bottom: 2px;
}