.menuButton {
    position: relative;
    display: inline;
    font-size: 11px !important;
}
@external html-face, gwt-Label;
.menuButton .html-face {
    display: inline-block;
}
@sprite .menuButton span {
    gwt-image: "downArrow";
    background-repeat: no-repeat;
    background-position: right center;
    display: inline-block;
}
@sprite .menu {
    gwt-image: "menuBackground";
    background-repeat: repeat-y;
    width: auto;
    height: auto;
    position: absolute;
    background-color: #F0F0F0;
    border: 1px solid #718BB7;
    padding: 2px;
    z-index: 1500; /* appear above everything else */
}
@sprite .active {
    gwt-image: "menuBackgroundActive";
    width: auto;
    height: auto;
    background-repeat: repeat-x;
    background-color: #EBF3FD;
    background-position: top;
    color:#233D6D;
}
.menu .gwt-Label {
    font-size: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #F0F0F0;
}
@sprite .menu .gwt-Label.activeItem {
    gwt-image: "menuItemBackgroundActive";
    background-repeat: repeat-x;
    background-position: left bottom;
    background-color: #EBF3FD;
    width: auto;
    height: auto;
    border:1px solid #AACCF6;
}
@external .gwt-PushButton;
.gwt-PushButton {
	display: inline-block;
	font-size: 11px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
}
.button{}