.hidden {
	display: none;
}
.scrolled-dialog {
	border: 2px solid #999;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

@external .dialogTop;
.scrolled-dialog .dialogTop {
	background-color: #ddd;
}
@external .dialogTopCenterInner;
.scrolled-dialog .dialogTopCenterInner {
	font-size: 12px;
	font-weight: bold;
	padding-top: 7px;
	color: #666;
	padding-left: 7px;
}
.scrolled-dialog .dialogTopCenterInner button {
	float: right;
	font-size: 11px;
	margin-top: -2px;
}
.scrolled-dialog .dialogTopCenterInner table {
	width: 100%;
}
@external .dialogMiddleCenter;
.scrolled-dialog .dialogMiddleCenter {
	padding: 0px;
}

@external .dialogTopLeft, .dialogTopRight, .dialogMiddleLeft, .dialogMiddleRight, .dialogBottomLeft, .dialogBottomRight, .dialogBottomCenter;
.scrolled-dialog .dialogTopLeft, 
.scrolled-dialog .dialogTopRight,
.scrolled-dialog .dialogMiddleLeft,
.scrolled-dialog .dialogMiddleRight,
.scrolled-dialog .dialogBottomLeft,
.scrolled-dialog .dialogBottomRight,
.scrolled-dialog .dialogBottomCenter {
	background: none;
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	display: none;
}

.notifications .notification {
	margin: 5px;
	padding: 8px;
}
.notifications .notification div {
	background-position: left center;
	background-repeat: no-repeat;
}

.notifications .notification.success {
	background-color: #CCFFCC;
	border: 1px solid green;
	color: green;
}
@sprite .notifications .notification .success {
	gwt-image: "tick";
	width: auto;
	height: auto;
	padding-left: 23px;
}
.notifications .notification.info {
	background-color: #EEFFFF;
	border: 1px solid #99FFFF;
}
.notifications .notification.warn {
	border: 1px solid orange;
	color: #FF3300;
	background-color: #FFDD88;
}
@sprite .notifications .notification .warn {
	gwt-image: "warn";
	width: auto;
	height: auto;
	padding-left: 23px;
}
.notifications .notification.error {
	border: 1px solid red;
	color: #CC1111;
	background-color: #FFAA88;
}
@sprite .notifications .notification .error {
	gwt-image: "error";
	width: auto;
	height: auto;
	padding-left: 23px;
}
@external .gwt-PushButton;
.gwt-PushButton {
	display: inline-block;
	font-size: 11px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
}
@external .label-field, .label, .required, .empty;
.label-field {
	margin-bottom: 5px;
}
.label-field input {
	width: 230px;
}
.label-field div {
	display: inline-block;
}
.label {
	text-align: right;
}
.label-field.required .label {
	font-weight: bold;
}
.label-field .empty {
	color: #999;
	font-style: italic;
}
/* When there is no data available in a grid. */
.no-data {
	font-size: 22px;
	font-style: italic;
	color: #999;
}

/**
 * Fixes for jQuery UI
 */
@external .ui-widget, .ui-dialog, .ui-dialog-titlebar, .ui-dialog-content;
.ui-widget {
	font-family: inherit;
	font-size: inherit;
}
.ui-dialog {
	padding: 0px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.ui-dialog-titlebar {
	border-radius: 0px;
}
.ui-dialog .ui-dialog-content {
	padding-top: 2px;
}
}