@charset "utf-8";

.superboxselect {
	position: relative;
	height: auto !important;
	margin: 0px;
	overflow: hidden;
	padding: 8px;
	display: block;
	outline: none !important;
	background-color: #fff;
	background-repeat: repeat-x;
}

.superboxselect input {
	border: none !important;
	background-color: transparent;
	background: none !important;
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transition: none !important;
	-mox-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.superboxselect ul, ul.autoComplete {
	overflow: hidden;
	cursor: text;
	-webkit-padding-start: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.superboxselect li {
	float: left;
	margin: 1px 1px 2px 1px;
	padding: 0;
	line-height: 18px;
	list-style: none;
}
.selection {
	position: relative;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	o-border-radius: 6px;
	khtml-border-radius: 6px;
	border: 1px solid #CAD8F3;
	background-color: #DEE7F8;
	padding: 1px 15px 1px 5px !important;
}
@sprite .remove {
	gwt-image: "close";
	background-repeat: no-repeat;
	background-position: left 0px;
	border: none;
	cursor: default;
	font-size: 1px;
	height: 16px;
	padding: 0;
	position: absolute;
	right: 0px;
	top: 2px;
	width: 13px;
	display: block;
	cursor: pointer;
}
.remove:hover, .remove:active {
	background-position: left -12px;
}
.hidden {
	display: none;
}
ul.autoComplete {
	margin-top: 2px;
	background-color: white;
	border: 1px solid #19B3CD;
}
.autoComplete li {
	display: block;
	float: none;
}
.autoComplete li a {
	cursor: pointer;
	color: black;
	width: 100%;
	display: block;
	padding: 2px;
	padding-left: 6px;
}
.autoComplete li a:hover, .autoCompleteItemHover {	
	background-color: #AFDE41;
}
.empty {
	font-style: italic;
	color: #999;
}